* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
    background: #fafafa;
    color: #333;
}

/*header y nav*/

.header {
    color: black;
    padding: 40px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header__logo {
    width: 100px;
    height: auto;
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 15px;
    text-decoration: none;
}

.header__a--nav {
    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-size: 14px;
    padding: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}

.header__menu {
    width: 20px;
    aspect-ratio: 1/1;
}


/* Main */


.main__gallery {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 220px);
    gap: 0.625rem;
    
}

.main__gallery div {
    background-size: cover;
    background-position: center;
}

.main__gallery div:hover {
    transform: scale(1.05);
}


/* Posicionamiento de los items en la cuadrícula */

.main__item--one {
    grid-area: 1/1/1/1;
    background-image: url("../images/Masonry-list-img-1-500x500.jpg");
}

.main__item--two {
    grid-area: 1/2/1/2;
    background-image: url("../images/Masonry-list-img-2-500x500.jpg");
}
.main__item--three {
    grid-area: 1/3/3/3;
    background-image: url("../images/Masonry-list-img-3-500x1000.jpg");
}
.main__item--four {
    grid-area: 1/4/1/4;
    background-image: url("../images/Masonry-list-img-4-500x500.jpg");

}
.main__item--five {
    grid-area: 1/5/3/7;
    background-image: url("../images/Masonry-list-img-5-1000x1000.jpg");
}
.main__item--six {
    grid-area: 2/1/2/1;
    background-image: url("../images/Masonry-list-img-6-500x500.jpg");
}
.main__item--seven {
    grid-area: 2/2/2/2;
    background-image: url("../images/Masonry-list-img-7-500x500.jpg");
}
.main__item--eight {
    grid-area: 2/4/2/4;
    background-image: url("../images/Masonry-list-img-8-500x500.jpg");
}
.main__item--nine {
    grid-area: 3/1/5/3;
    background-image: url("../images/Masonry-list-img-9-1000x1000.jpg");
}
.main__item--ten {
    grid-area: 3/3/3/3;
    background-image: url("../images/Masonry-list-img-10-500x500.jpg");
}
.main__item--eleven {
    grid-area: 3/4/3/4;
    background-image: url("../images/Masonry-list-img-11-500x500.jpg");
}
.main__item--twelve {
    grid-area: 3/5/5/5;
    background-image: url("../images/Masonry-list-img-12-500x1000.jpg");
}
.main__item--thirteen {
    grid-area: 3/6/3/6;
    background-image: url("../images/Masonry-list-img-13-500x500.jpg");
}
.main__item--fourteen {
    grid-area: 4/4/4/4;
    background-image: url("../images/Masonry-list-img-14-500x500.jpg");
}
.main__item--fifteen {
    grid-area: 4/3/4/3;
    background-image: url("../images/Masonry-list-img-15-500x500.jpg");
}
.main__item--sixteen {
    grid-area: 4/6/4/6;
    background-image: url("../images/Masonry-list-img-16-500x500.jpg");
}
.main__item--seventeen {
    grid-area: 5/3/5/5;
    background-image: url("../images/Masonry-list-img-17-1000x500.jpg");
}
.main__item--eighteen {
    grid-area: 5/6/5/6;
    background-image: url("../images/Masonry-list-img-18-500x500.jpg");
}
.main__item--nineteen {
    grid-area: 5/1/5/1;
    background-image: url("../images/Masonry-list-img-19-500x500.jpg");
}
.main__item--twenty {
    grid-area: 5/2/5/2;
    background-image: url("../images/Masonry-list-img-20-500x500.jpg");
}
.main__item--twentyone {
    grid-area: 5/5/5/5;
    background-image: url("../images/Masonry-list-img-21-500x500.jpg");
}


/* Footer */

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
}

.footer__logo {
    margin-bottom: 20px;
}

.footer__p {
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.footer__social {
    display:flex;
    flex-direction: row;
    list-style: none;
    gap: 15px;
    text-decoration: none;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer__item {
    height: 1em;
}

.footer__link {
    text-decoration: none;
    color: black;
}

/* Media Queries */

/* Tablets (pantallas medianas) */

@media (max-width: 1024px) {
    .main__gallery {
        grid-template-columns: repeat(3, 1fr); /* 3 columnas */
        grid-template-rows: auto; /* filas automáticas */
        
    }

    .main__gallery > div {
        grid-area: auto !important; /* resetea las posiciones fijas */
        height: 400px; /* todas iguales de alto */
    }
}

/* Móviles grandes */
@media (max-width: 768px) {
    .main__gallery {
        grid-template-columns: repeat(2, 1fr); /* 2 columnas */
    }

    .main__gallery > div {
        height: 400px;
    }

    .header {
        flex-direction: row;
        align-items: center;
    }

    .header__ul {
        display: none;
    }
}

/* Móviles pequeños */
@media (max-width: 480px) {
    .main__gallery {
        grid-template-columns: 1fr; /* 1 columna */
    }

    .main__gallery > div {
        height: 400px;
    }

    .header {
        padding: 20px;
    }

    .header__a--nav {
        font-size: 12px;
        padding: 10px;
    }

    .footer {
        padding: 20px;
    }


    .footer__social {
        flex-direction: column;
        gap: 8px;
    }
}

